*{
    margin:0;
    padding:0;
  }
  
  body{
    margin:0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:17px;
    color:white;
    line-height:1.6;

  }
  
  #showcase{
    background-image:url('https://images.unsplash.com/photo-1551029506-0807df4e2031?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1034&q=80');
    background-size:cover;
    background-position:center;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:0 20px;
  }
  
  #showcase h1{
    font-size:50px;
    line-height:1.2;
  }
  
  #showcase p{
    font-size:20px;
  }
 
.photo1{
   margin-top: -1px;
    margin-left:-50px;
  }
  .name1{
  padding-left:100px;
  font-size: large;
  color: rgb(16, 52, 107);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

.info1{
    padding-top: 10px;
    font-size: medium;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.photo2{
    margin-top:-625px;
     margin-left:600px;
   }

   .name2{
    padding-left:710px;
    font-size: large;
    color: rgb(16, 52, 107);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
  
  .info2{
      padding-top: 10px;
      padding-left: 620px;
      font-size: medium;
      color: black;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .photo3{
    margin-top: -625px;
     margin-left:300px;
   }

   .name3{
    padding-left:400px;
    font-size: large;
    color: rgb(16, 52, 107);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
  
  .info3{
      padding-top: 10px;
      padding-left: 305px;
      font-size: medium;
      color: black;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .photo4{
    margin-top:-626px;
     margin-left:900px;
   }

   .name4{
    padding-left:1100px;
    font-size: large;
    color: rgb(16, 52, 107);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
  
  .info4{
    padding-top: 10px;
    padding-left:975px;
    font-size: medium;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
      
  .photo4{
    margin-top: -625px;
     margin-left:990px;
   }
  
.arrow-7 {
    margin: 300px auto 10px auto;
    width: 38px;
    height: 100px;
}
.arrow-7 span {
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid white;
    border-right: 5px solid white;
    transform: rotate(45deg);
    margin: -5px 0;
    animation: arrow-7 2s infinite;
}
.arrow-7 span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow-7 span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes arrow-7 {
    0%{
        opacity: 0;
        transform: translate(0,-20px) rotate(45deg);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translate(0,20px) rotate(45deg);
    }
}
#section-a{
    margin-top:50px;
    padding:2px;
    background:#0d2e5a;
    color:white;
    text-align:center;
  }

.cvc {
    position: relative;
  }
   
  .cvc::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);  
    z-index: 1;
  }

.project{
  background-image: url(project1.jpg);
  background-size:cover;
    background-position:center;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:0 20px;
    font-size: 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .section-b{
    background-image:url('project.jpg');
    background-size:cover;
    background-position:center;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:0 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
  } 

 .qr{
   background-color: #0d2e5a;
   background-position:center;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:0 20px;
 }
 
